# controller
eventlet
webob
psycopg2-binary
pymongo
psutil
PyYAML==6.0.1
cryptography

# southbound
paramiko
requests>=2.25.0
routeros-api
librouteros

# utils
fastapi
uvicorn
jinja2
ncclient
pycryptodome